/* memo page */
html {
    background-color: rgb(0, 178, 209);
}

.memo-page-all{
    background-color: rgb(254,247,182);
}
  
.memo-page {
    font-family: 'Varela Round', sans-serif; 
}

/* set a add button that located in right bottom of the webpage */ 
.memo-page #add-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 20px;
}

#memo_delete {
    float: right;
}

.memo-card {
    margin-top: 10%;
    margin-bottom: 10%;
}

.memo-modal {
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.memo-modal > .header {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.memo-modal > .content {
    width: 100%;
    padding: 10px 5px;
}

.memo-modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.memo-form {
    text-align: center;
}

.memo-form > textarea{
    max-width: 50%;
    border-radius: 5px;
    max-height: 150px;
    background-color: rgb(254,247,182);
    font-size: 16px;
}





